

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

body
{
    padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header
{
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top
{
    border: 0;
    background-color: #003152;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar
{
    display: none;
}

@media (min-width: 768px)
{
    .sidebar
    {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */

.nav-sidebar
{
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a
{
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus
{
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main
{
    padding: 20px;
}

@media (min-width: 768px)
{
    .main
    {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header
{
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders
{
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4
{
    margin-bottom: 0;
}

.placeholder
{
    margin-bottom: 20px;
}

.placeholder img
{
    display: inline-block;
    border-radius: 50%;
}

.bg-sunflower
{
    background-color: #F1C40F !important;
}

.congratulations
{
    height: 175px;
    width: 175px;
    max-width: 100%;
    border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0 auto 50px;
}

.congratulations-icon
{
    line-height: 175px;
    color: #fff;
    font-size: 100px;
}

.icon
{
    line-height: 175px;
    color: #fff;
    font-size: 55px;
    height: 120px;
    width: 120px;
    max-width: 100%;
    border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0 auto 20px;
}

.bg-transparent
{
    background-color: transparent !important;
}

.bg-black
{
    background-color: #111111 !important;
}

.bg-white
{
    background-color: #FFFFFF !important;
}

.bg-offwhite
{
    background-color: #F5F5F5 !important;
}

.bg-clouds
{
    background-color: #ECF0F1 !important;
}

.bg-silver
{
    background-color: #BDC3C7 !important;
}

.bg-concrete
{
    background-color: #95A5A6 !important;
}

.bg-asbestos
{
    background-color: #7F8C8d !important;
}

.bg-tan
{
    background-color: #D1DBBD !important;
}

.bg-pewter
{
    background-color: #91AA9D !important;
}

.bg-moonlight
{
    background-color: #3E606F !important;
}

.bg-deepocean
{
    background-color: #193441 !important;
}

.bg-turquoise
{
    background-color: #1ABC9C !important;
}

.bg-aqua
{
    background-color: #16A085 !important;
}

.bg-sunflower
{
    background-color: #F1C40F !important;
}

.bg-orange
{
    background-color: #F39C12 !important;
}

.bg-sienna
{
    background-color: #BF4E19 !important;
}

.bg-milanored
{
    background-color: #AC1C00 !important;
}

.bg-river
{
    background-color: #3498DB !important;
}

.bg-marina
{
    background-color: #2980B9 !important;
}

.bg-deco
{
    background-color: #C9D787 !important;
}

.bg-crete
{
    background-color: #7D8A2E !important;
}

.bg-guardsman
{
    background-color: #D90000 !important;
}

.bg-pomegranate
{
    background-color: #C0392B !important;
}

.bg-finn
{
    background-color: #723147 !important;
}

.bg-tamarind
{
    background-color: #31152B !important;
}

.bg-transparent-hover:hover
{
    background-color: transparent !important;
}

.bg-black-hover:hover
{
    background-color: #111111 !important;
}

.bg-white-hover:hover
{
    background-color: #FFFFFF !important;
}

.bg-offwhite-hover:hover
{
    background-color: #F5F5F5 !important;
}

.bg-clouds-hover:hover
{
    background-color: #ECF0F1 !important;
}

.bg-silver-hover:hover
{
    background-color: #BDC3C7 !important;
}

.bg-concrete-hover:hover
{
    background-color: #95A5A6 !important;
}

.bg-asbestos-hover:hover
{
    background-color: #7F8C8d !important;
}

.bg-tan-hover:hover
{
    background-color: #D1DBBD !important;
}

.bg-pewter-hover:hover
{
    background-color: #91AA9D !important;
}

.bg-moonlight-hover:hover
{
    background-color: #3E606F !important;
}

.bg-deepocean-hover:hover
{
    background-color: #193441 !important;
}

.bg-turquoise-hover:hover
{
    background-color: #1ABC9C !important;
}

.bg-aqua-hover:hover
{
    background-color: #16A085 !important;
}

.bg-sunflower-hover:hover
{
    background-color: #F1C40F !important;
}

.bg-orange-hover:hover
{
    background-color: #F39C12 !important;
}

.bg-sienna-hover:hover
{
    background-color: #BF4E19 !important;
}

.bg-milanored-hover:hover
{
    background-color: #AC1C00 !important;
}

.bg-river-hover:hover
{
    background-color: #3498DB !important;
}

.bg-marina-hover:hover
{
    background-color: #2980B9 !important;
}

.bg-deco-hover:hover
{
    background-color: #C9D787 !important;
}

.bg-crete-hover:hover
{
    background-color: #7D8A2E !important;
}

.bg-guardsman-hover:hover
{
    background-color: #D90000 !important;
}

.bg-pomegranate-hover:hover
{
    background-color: #C0392B !important;
}

.bg-finn-hover:hover
{
    background-color: #723147 !important;
}

.bg-tamarind-hover:hover
{
    background-color: #31152B !important;
}

